<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/loginBodyHeader :: loginBodyHeader(${member})"></div>
  <a class="btn btn-dark" href="/members/setting">나의 주문 정보</a>
  <a class="btn btn-dark" href="/items/create">내 상품 등록</a>
  <div class="jumbotron">
    <div class="py-5 text-center">
      <h2>상품 목록</h2>
    </div>
    <hr class="my-4">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th>판매자 ID</th>
          <th>상품명</th>
          <th>가격</th>
          <th>수량</th>
          <th>주문</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
          <td><a th:text="${item.member.loginId}">판매자 ID</a></td>
          <td><a th:text="${item.itemName}">상품명</a></td>
          <td th:text="${item.price}">10000</td>
          <td th:text="${item.stockQuantity}">10</td>
          <td>
            <button class="w-5 btn btn-primary"
                    onclick="location.href='order/orderForm.html'"
                    th:onclick="|location.href='@{/order/{itemId}(itemId =${item.id})}'|"
                    type="button">상품 주문</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  <div th:replace="fragments/footer :: footer" />
  </div> <!-- /container -->
</body>
</html>