<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
  <div th:replace="fragments/loginBodyHeader :: loginBodyHeader(${member})"></div>
  <a class="btn btn-dark" style="background-color: darkorange; border-color: darkorange;" href="/">홈으로</a>
  <div class="jumbotron">

    <p class="lead">상품 기능</p>
    <p>
      <a class="btn btn-primary " href="/items/" style="background-color: orangered; border-color: orangered;"
         th:href="@{/items/myList}">내 상품 목록</a>
      <a class="btn btn-primary" href="/items" style="background-color: orange; border-color: orange;">모든 상품 목록</a>
    </p>
    <p class="lead">주문 기능</p>
    <p>
      <a class="btn btn-primary" href="/order/MyOrderList/{memberId}"
         th:href="@{/order/MyOrderList}" style="background-color: orangered; border-color: orangered;">나의 주문 내역</a>
    </p>
    </p>

    <div th:replace="fragments/footer :: footer" />

  </div> <!-- /container -->

</body>

</html>