<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
  <div th:replace="fragments/loginBodyHeader :: loginBodyHeader(${member})"></div>
  <a class="btn btn-dark" href="/">홈으로</a>
  <div class="jumbotron">

    <p class="lead">상품 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/items/create">내 상품 등록</a>
      <a class="btn btn-lg btn-dark" href="/items/"
         th:href="@{/items/myList}">내 상품 목록</a>
      <a class="btn btn-lg btn-dark" href="/items">모든 상품 목록</a>
    </p>
    <p class="lead">주문 기능</p>
    <p>
      <a class="btn btn-lg btn-info" href="/order/MyOrderList/{memberId}"
         th:href="@{/order/MyOrderList}">나의 주문 내역</a>
    </p>
    </p>

    <div th:replace="fragments/footer :: footer" />

  </div> <!-- /container -->

</body>

</html>