<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container" style="max-width: 600px">
  <div th:replace="fragments/loginBodyHeader :: loginBodyHeader(${member})"></div>
  <div class="py-5 text-center">
    <h2>상품 목록</h2>
  </div>
<!--  <div>-->
<!--    <form th:object="${orderSearch}" class="form-inline">-->
<!--      <div class="form-group mb-2">-->
<!--        <input type="text" th:field="*{memberName}" class="form-control" placeholder="상품 이름"/>-->
<!--      </div>-->
<!--      <div class="form-group mx-sm-1 mb-2">-->
<!--        <select th:field="*{orderStatus}" class="form-control">-->
<!--          <option value="">주문상태</option>-->
<!--          <option th:each="status : ${T(jpabook.jpashop.domain.OrderStatus).values()}"-->
<!--                  th:value="${status}"-->
<!--                  th:text="${status}">option-->
<!--          </option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-primary mb-2">검색</button>-->
<!--    </form>-->
<!--  </div>-->
  <hr class="my-4">

  <div>
    <a class="btn btn-dark" style="background-color: darkorange; border-color: darkorange;" href="/members/setting">뒤로</a>
    <table class="table">
      <thead>
      <tr>
        <th>판매자 ID</th>
        <th>상품명</th>
        <th>가격</th>
        <th>수량</th>
        <th>주문</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${items}">
        <td><a th:text="${item.member.loginId}">판매자 ID</a></td>
        <td><a th:text="${item.itemName}">상품명</a></td>
        <td th:text="${item.price}">10000</td>
        <td th:text="${item.stockQuantity}">10</td>
        <td>
          <button class="w-5 btn btn-primary"
                onclick="location.href='order/orderForm.html'"
                th:onclick="|location.href='@{/order/{itemId}(itemId =${item.id})}'|"
                type="button" style="background-color: orange; border-color: orange;">상품 주문</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div> <!-- /container -->
</body>
</html>