<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>

<div class="container">
  <div th:replace="fragments/loginBodyHeader :: loginBodyHeader(${member})"></div>
  <div class="py-5 text-center">
    <h2>상품 수정 폼</h2>
  </div>

  <form action="item.html" th:action method="post">

    <div class="form-group">
      <label th:for="fileImage">파일 이미지 등록 </label>
      <img th:if="${item.getImageFile() ne null}"
           th:src="|/items/images/${item.getImageFile().getStoreFileName()}|"  width="300" height="300"/>
      <il th:if="${item.getImageFile() eq null} ">이미지가 존재하지 않습니다.</il>
      <input th:field="${item.imageFile}" th:type="file"  name="imageFile">
    </div>
    <div>
      <label for="id">상품 ID</label>
      <input type="text" id="id" name="id" class="form-control" th:value="${item.id}" readonly>
    </div>
    <div>
      <label for="itemName" th:text="#{label.item.name}">상품명</label>
      <input type="text" id="itemName" name="itemName" th:field="${item.itemName}"
             th:value="${item.itemName}" th:errorclass="field-error" class="form-control">
      <div th:errorclass="field-error" th:errors="${item.itemName}">
        상품명 오류
      </div>
    </div>
    <div>
      <label for="price" th:text="#{label.item.price}">가격</label>
      <input type="number" id="price" name="price" class="form-control"
             th:field="${item.price}" th:value="${item.price}" th:errorclass="field-error">
              <div th:errorclass="field-error" th:errors="${item.price}">
                상품 가격 오류
              </div>
    </div>
    <div>
      <label for="quantity" th:text="#{label.item.quantity}">수량</label>
      <input type="number" id="quantity" name="quantity" class="form-control"
             th:field="${item.stockQuantity}" th:value="${item.stockQuantity}" th:errorclass="field-error">
      <div th:errorclass="field-error" th:errors="${item.stockQuantity}">
        상품 수량 오류
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit"
                style="background-color: orangered; border-color: orangered;">저장</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='item.html'"
                th:onclick="|location.href='@{/items/myList}'|"
                type="button" style="background-color: orange; border-color: orange;">취소</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>