<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .find-btn1{
        display :inline-block;
    }
</style>
<div class="header" th:fragment="loginBodyHeader(member)">
    <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
    </ul>
    <a href="/"><h3 class="text-muted" >HELLO SHOP</h3></a>
    <a th:text="|안녕하세요 : ${member.username} 님|"></a>
    <div th:align="right">
        <form th:action="@{/members/myInfo}" method="get" >
            <button class="btn btn-grey navbar-btn find-btn1">나의 정보</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-navy navbar-btn find-btn1" th:method="post" type="submit">로그아웃</button>
        </form>
    </div>
</div>