<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/loginBodyHeader :: loginBodyHeader"/>

    <div class="py-5 text-center">
        <h2>상품 삭제</h2>
    </div>
    <div>
        <label for="itemId" >상품 ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="test" th:value="${deleteItem.getId()}" readonly>
        <label for="itemName" >상품 이름</label>
        <input type="text" id="itemName" name="itemName" class="form-control" value="test" th:value="${deleteItem.getName()}" readonly>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-10 btn btn-primary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/item/items}'|"
                    type="button" >아이템 목록으로</button>
        </div>
    </div>


</div> <!-- /container -->

</body>
</html>
