<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{page.member}">회원 정보</h2>
    </div>
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="loginId" th:text="#{label.member.loginId}"> 회원 ID </label>
        <input type="text" id="loginId" name="loginId" class="form-control" value="1" th:value="${member.get().loginId}" readonly>
    </div>



</div> <!-- /container -->
</body>
</html>